<!-- /templates/customers/order.liquid -->

<section class="section bg--section m0 py4 f--main">
  <div class="wrapper section--wrapper">

    <div class="text-align--center">
      <h1 class="t--section-title text-align--center f--main font-size--l lg--font-size--xl m0 py3">
        {{ 'customer.account.title' | t }}
      </h1>
      <p><a href="{{ routes.account_url }}">{{ 'customer.account.return' | t }}</a></p>
    </div>

    <div class="grid mt4">

      <div class="grid__item two-thirds md-dn--one-whole">
        <h2 class="h4 f--main">{{ 'customer.order.title' | t: name: order.name }}</h2>
        <hr class="rule bg--main-accent my2">
        <p class="font-size--s">{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>

        {% if order.cancelled %}
          <div class="errors">
            {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
            <p class="h5">{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
            <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
          </div>
        {% endif %}

        <div class="table-wrap">
          <table class="full">
            <thead>
              <tr>
                <th>{{ 'customer.order.product' | t }}</th>
                <th>{{ 'customer.order.sku' | t }}</th>
                <th>{{ 'customer.order.price' | t }}</th>
                <th class="text-right">{{ 'customer.order.quantity' | t }}</th>
                <th class="text-right">{{ 'customer.order.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for line_item in order.line_items %}
              <tr id="{{ line_item.key }}">
                <td>
                  {{ line_item.title | link_to: line_item.product.url }}
                  {%- if line_item.line_level_discount_allocations != blank -%}
                    <ul class="list--reset m0 line-height--1 color--shop-accent mb2" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                        <li class="order-discount__item">
                          {{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}

                  {% if line_item.fulfillment %}
                    <div class="note">
                      {% assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' %}
                      {{ 'customer.order.fulfilled_at' | t: date: created_at }}
                      {% if line_item.fulfillment.tracking_number %}
                        <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                      {% endif %}
                    </div>
                  {% endif %}
                </td>
                <td>{{ line_item.sku }}</td>
                <td>

                {%- if line_item.original_price != line_item.final_price -%}
                  <del class="cart__price block ">{{ line_item.original_price | money }}</del>
                  <span class="order-discount cart__price color--shop-accent line-height--1 block mb2">{{ line_item.final_price | money }}</span>
                {%- else -%}
                  <span>{{ line_item.original_price | money }}</span>
                {%- endif -%}

                {%- if line_item.unit_price_measurement -%}
                  <span class="block feature-copy font-size--xs {% if line_item.original_price != line_item.final_price %}color--shop-accent{% endif %}">
                    <span class="visually-hidden">
                      {{ 'products.product.unit_price_label' | t }}
                    </span>
                    {{ line_item.unit_price | money }}
                    <span aria-hidden="true">/&nbsp;</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
                    {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                      {{- line_item.unit_price_measurement.reference_value -}}
                    {%- endif -%}
                    {{ line_item.unit_price_measurement.reference_unit }}
                  </span>
                {%- endif -%}

                </td>

                <td class="text-right">{{ line_item.quantity }}</td>
                <td class="text-right">
                  {%- if line_item.original_line_price != line_item.final_line_price -%}
                    <del class="cart__price block">{{ line_item.original_line_price | money }}</del>
                    <span class="order-discount cart__price color--shop-accent line-height--1 block mb2">{{ line_item.final_line_price | money }}</span>
                  {%- else -%}
                    {{ line_item.original_line_price | money }}
                  {%- endif -%}
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">{{ 'customer.order.subtotal' | t }}</td>
                <td class="text-right">{{ order.line_items_subtotal_price | money }}</td>
              </tr>

              {%- if order.cart_level_discount_applications != blank -%}
                {% for discount_application in order.cart_level_discount_applications %}
                  <tr>
                    <td colspan="4" class="sm--hide pt1 align--bottom">
                    {{ 'customer.order.discount' | t }}
                    <span class="block color--shop-accent">{{- discount_application.title -}}</span>
                    </td>
                    <td class="text-align--right color--shop-accent align--bottom" data-label="{{ 'customer.order.discount' | t }}">
                      -{{ discount_application.total_allocated_amount | money }}
                    </td>
                  </tr>
                {% endfor %}
              {% endif %}

              {% for shipping_method in order.shipping_methods %}
              <tr>
                <td colspan="4">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
                <td class="text-right">{{ shipping_method.price | money }}</td>
              </tr>
              {% endfor %}

              {% for tax_line in order.tax_lines %}
                <tr>
                  <td colspan="4">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                  <td class="text-right">{{ tax_line.price | money }}</td>
                </tr>
              {% endfor %}

              <tr>
                <td colspan="4"><strong>{{ 'customer.order.total' | t }}</strong></td>
                <td class="text-right"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>

      <div class="grid__item one-third md-dn--one-whole">

        <h2 class="h4 f--main">{{ 'customer.order.billing_address' | t }}</h2>
        <hr class="rule bg--main-accent my2">

        <p class="font-size--s">{{ 'customer.order.payment_status' | t }}: {{ order.financial_status_label }}</p>

        <p class="mb4">
          {{ order.billing_address.name }}<br/>
          {% if order.billing_address.company != '' %}
            {{ order.billing_address.company }}<br>
          {% endif %}
          {{ order.billing_address.street }}<br>
          {{ order.billing_address.city }}<br>
          {% if order.billing_address.province != '' %}
            {{ order.billing_address.province }}<br>
          {% endif %}
          {{ order.billing_address.zip | upcase }}<br>
          {{ order.billing_address.country }}<br>
          {{ order.billing_address.phone }}
        </p>

        <h2 class="h4 f--main">{{ 'customer.order.shipping_address' | t }}</h2>
        <hr class="rule bg--main-accent my2">

        <p class="font-size--s">{{ 'customer.order.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</p>

        <p>
          {{ order.shipping_address.name }}<br/>
          {% if order.shipping_address.company != '' %}
            {{ order.shipping_address.company }}<br>
          {% endif %}
          {{ order.shipping_address.street }}<br>
          {{ order.shipping_address.city }}<br>
          {% if order.shipping_address.province != '' %}
            {{ order.shipping_address.province }}<br>
          {% endif %}
          {{ order.shipping_address.zip | upcase }}<br>
          {{ order.shipping_address.country }}<br>
          {{ order.shipping_address.phone }}
        </p>

      </div>

    </div>

  </div>
</section>
