<section id="section-{{ section.id }}" data-section-type="blog_carousel" data-section-id="{{ section.id }}">
  <div class="blog_carousel">
    <div class="container-small">
      <h2 class="f--title text-align--center font-size--l lg--font-size--xxl m0 mb3">
        {{ section.settings.title | escape }}</h2>
      <div class="main-carousel"
        data-flickity='{ "prevNextButtons": true , "pageDots": false, "wrapAround": true, "arrowShape": {"x0": 10,"x1": 55, "y1": 45,"x2": 60, "y2": 40,"x3": 20} }'>
          {% for block in section.blocks %}
          {%- assign blog = blogs[block.settings.blog] -%}
          {% capture blog-picto %}
            {% if blog.title contains "recette" %}
              <img src="https://cdn.shopify.com/s/files/1/0359/9178/1421/files/nos_recettes.png?v=1590542515" alt="">
            {% endif %}
            {% if blog.title contains "astuces" %}
              <img src="https://cdn.shopify.com/s/files/1/0359/9178/1421/files/truc_et_astuces.png?v=1590542527" alt="">
            {% endif %}
            {% if blog.title contains "amis" %}
              <img src="https://cdn.shopify.com/s/files/1/0359/9178/1421/files/nos_amis.png?v=1590542143" alt="">
            {% endif %}
            {% if blog.title contains "podcast" %}
              <img src="https://cdn.shopify.com/s/files/1/0359/9178/1421/files/notre_podcast.png?v=1590542515" alt="">
            {% endif %}
          {% endcapture %}
              <div class="carousel-cell">
                {% for article in blog.articles %}
                  {% if forloop.last %}
                    <a href="{{ blog.url }}">
                      <div class="blog_carousel_image" style="background-image: url('{{ article.image | img_url:'master' }}')">
                        {{  blog-picto }}
                       </div>
                      <h4>{{ blog.title }}</h4>
                    </a>
                  {% endif %}
                {% endfor %}
              </div>
          {% endfor %}
      </div>
    </div>
  </div>
</section>
<style>
  #section-{{ section.id }} .blog_carousel {
    background-color: {{ section.settings.bgcolor }};
  }
</style>
{% schema %}
{
  "name": "Blog carousel",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "découvrez nos blogs"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "Blog",
      "name": "Blog",
      "settings": [
          {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
          }
      ]
    }
  ],
  "presets": [
    {
      "name": "Blog carousel",
      "category": "Blog"
    }
  ]
}
{% endschema %}
