<section id="section-{{ section.id }}" data-section-type="homepage-logos" data-section-id="{{ section.id }}">
  {% case section.blocks.size %}
    {% when 0 %}
       {% when 1 %}
          {% assign carousel_width = 'c-100' %}
        {% when 2 %}
          {% assign carousel_width = 'c-50' %}
        {% when 3 %}
          {% assign carousel_width = 'c-33' %}
        {% when 4 %}
          {% assign carousel_width = 'c-25' %}
        {% when 5 %}
          {% assign carousel_width = 'c-20' %}
    {% endcase %}
  <div class="homepage-logos">
    <div class="container-medium container-full-mobile">
      <h2 class="f--title text-align--center font-size--l lg--font-size--xxl m0 mb3">
        {{ section.settings.title | escape }}
      </h2>
      <div class="main-carousel"
        data-flickity='{ "prevNextButtons": true , "pageDots": false, "wrapAround": true }'>
         {% for block in section.blocks %}
          <div class="carousel-cell {{ carousel_width }}">
            {% if block.settings.logo != blank %}
              <div class="homepage-logos__image">
                <img src="{{ block.settings.logo | img_url:'master'}}" alt="{{ block.settings.logo.alt }}">
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Homepage logos",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "on parle de nous"
    }
  ],
  "blocks": [
    {
      "type": "Logo",
      "name": "Logo",
      "settings": [
           {
             "type": "image_picker",
             "id": "logo",
             "label": "label"
           }
      ]
    }
  ],
  "presets": [
    {
      "name": "Homepage logos",
      "category": "Image"
    }
  ]
}
{% endschema %}
