<section id="section-{{ section.id }}" data-section-type="homepage-gammes" data-section-id="{{ section.id }}">
  <div class="homepage-gammes">
    <div class="container-large">
      <h2 class="t--section-title text-align--center f--main font-size--l lg--font-size--xxl m0 mb3">
        {{ section.settings.title | escape }}
      </h2>
      <div class="main-carousel carousel-flex"
        data-flickity='{ "prevNextButtons": true , "pageDots": false, "wrapAround": true, "watchCSS": true }'>
         {% for block in section.blocks %}
          <div class="carousel-cell">
            <a href="{{ block.settings.url }}">
               <div class="homepage-gammes__image">
                 <img src="{{ block.settings.image | img_url:'master'}}" alt="{{ block.settings.logo.alt }}">
                 <div class="homepage-gammes__title">
                   <h3>{{ block.settings.title }}</h3>
                 </div>
               </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Homepage Gammes",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "découvrez nos gammes des produits"
    }
  ],
  "blocks": [
    {
      "type": "Gamme",
      "name": "Gamme",
      "settings": [
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           },
           {
             "type": "text",
             "id": "title",
             "label": "Title",
             "default": "Title"
           },
           {
             "type": "url",
             "id": "url",
             "label": "Link"
           } 
      ]
    }
  ],
  "presets": [
    {
      "name": "Homepage gammes",
      "category": "Image"
    }
  ]
}
{% endschema %}
