<!-- /sections/homepage-blog.liquid -->
{% comment %}
Receive articles on all blogs selected
{% endcomment %}
{% include 'global-variables' %}

{% assign all_articles = false %}
{% assign all_articles_sorted = false %}
{% assign onboarding = true %}

{% assign thumbnail_cropping = "square" %}

{% if section.settings.blog_1 and section.settings.blog_1  != empty %}
  {% if all_articles %}
    {% assign all_articles = all_articles | concat:blogs[section.settings.blog_1].articles %}
  {% else %}
    {% assign all_articles = blogs[section.settings.blog_1].articles %}
  {% endif %}
  {% assign onboarding = false %}
{% endif %}

{% if section.settings.blog_2 and section.settings.blog_2  != empty   %}
  {% if all_articles %}
    {% assign all_articles = all_articles | concat:blogs[section.settings.blog_2].articles %}
  {% else %}
    {% assign all_articles = blogs[section.settings.blog_2].articles %}
  {% endif %}
  {% assign onboarding = false %}
{% endif %}

{% if section.settings.blog_3 and section.settings.blog_3  != empty  %}
  {% if all_articles %}
    {% assign all_articles = all_articles | concat:blogs[section.settings.blog_3].articles %}
  {% else %}
    {% assign all_articles = blogs[section.settings.blog_3].articles %}
  {% endif %}
  {% assign onboarding = false %}
{% endif %}

{% if section.settings.blog_4 and section.settings.blog_4  != empty   %}
  {% if all_articles %}
    {% assign all_articles = all_articles | concat:blogs[section.settings.blog_4].articles %}
  {% else %}
    {% assign all_articles = blogs[section.settings.blog_4].articles %}
  {% endif %}
  {% assign onboarding = false %}
{% endif %}

{% if section.settings.blog_5 and section.settings.blog_5 != empty  %}
  {% if all_articles %}
    {% assign all_articles = all_articles | concat:blogs[section.settings.blog_5].articles %}
  {% else %}
    {% assign all_articles = blogs[section.settings.blog_5].articles %}
  {% endif %}
  {% assign onboarding = false %}
{% endif %}


{% assign all_articles_sorted = all_articles | sort:'published_at' | reverse %}

<div class="container-anchors">
   <h2 class="f--title text-align--center font-size--l lg--font-size--xxl m0 mb3">
    {{ section.settings.title | escape }}</h2>
  <div class="blog-anchors">
    <a href="#recettes-parfaites" style="background-image: url('https://cdn.shopify.com/s/files/1/0359/9178/1421/files/nos_recettes.png?v=1590542515');">
     </a>
    <a href="#les-amis-de-la-maison" style="background-image: url('https://cdn.shopify.com/s/files/1/0359/9178/1421/files/nos_amis.png?v=1590542143');">
     </a>
    <!-- <a href="#podcast-melangeons-nous" style="background-image: url('https://cdn.shopify.com/s/files/1/0359/9178/1421/files/notre_podcast.png?v=1590542515');">
     </a> -->
    <a href="#les-astuces" style="background-image: url('https://cdn.shopify.com/s/files/1/0359/9178/1421/files/astuces_e8f8d7b3-b85b-4d78-b213-5cc3450cf81f.png?v=1591619695');">
     </a>
  </div>
</div>

{% assign latest_article_handles = latest_article_handles | split: ',' %}

{% for block in section.blocks %}
  {% case block.type %}
  {% when 'articles_by_blog' %}

  <section id="{{ blogs[block.settings.selected_blog].handle }}" class="section m0 py2 bg--section" {{ block.shopify_attributes }}>
    <div class="wrapper section--wrapper">

      {% if blogs[block.settings.selected_blog].handle contains "recettes-parfaites" %}
        {% assign title_color = "#EAD848" %}
      {% elsif blogs[block.settings.selected_blog].handle contains "les-amis-de-la-maison" %}
        {% assign title_color = "#EC4D2E" %}
      {% elsif blogs[block.settings.selected_blog].handle contains "podcast-melangeons-nous" %}
        {% assign title_color = "#4F8C9B" %}
      {% elsif blogs[block.settings.selected_blog].handle contains "les-astuces" %}
        {% assign title_color = "#74C17C" %}
      {% endif %}

      <h2 class="t--section-title text-align--center f--main font-size--l lg--font-size--xxxl  m0 pb3 blog-section-title" style="color: {{title_color}}">
        {% if block.settings.title != '' %}
          {{ block.settings.title | escape }}
        {% elsif blogs[block.settings.selected_blog].title != '' %}
          {{ blogs[block.settings.selected_blog].title }}
        {% else %}
          {{ 'homepage.onboarding.blog_name' | t }}
        {% endif %}
        {% if blogs[block.settings.selected_blog].handle contains "recettes-parfaites" %}
          <span style="background-image: url('https://cdn.shopify.com/s/files/1/0359/9178/1421/files/nos_recettes.png?v=1590542515');"></span>
        {% elsif blogs[block.settings.selected_blog].handle contains "les-amis-de-la-maison" %}
          <span style="background-image: url('https://cdn.shopify.com/s/files/1/0359/9178/1421/files/nos_amis.png?v=1590542143');"></span>
        {% elsif blogs[block.settings.selected_blog].handle contains "podcast-melangeons-nous" %}
          <span style="background-image: url('https://cdn.shopify.com/s/files/1/0359/9178/1421/files/notre_podcast.png?v=1590542515');"></span>
        {% elsif blogs[block.settings.selected_blog].handle contains "les-astuces" %}
          <span style="background-image: url('https://cdn.shopify.com/s/files/1/0359/9178/1421/files/astuces_e8f8d7b3-b85b-4d78-b213-5cc3450cf81f.png?v=1591619695');"></span>
        {% endif %}
      </h2>

      {% if block.settings.show_blog_link %}
	  		<div class="grid__item text-align--center">
              {%- assign blog = blogs[block.settings.selected_blog] -%}
              <a href="{{ blog.url }}" class="btn mt2 mx--auto {{ __button__ }}">
                {{ 'blogs.general.more_of_blog' | t: blog:  blogs[block.settings.selected_blog].title }}
              </a>
      		</div>
      {% endif %}

      <div class="grid grid-uniform container-medium">
        {%- assign blog = blogs[block.settings.selected_blog] -%}
        {% if blog and blog != empty %}
          {% assign count = 0 %}


          <div class="main-carousel homepage-blog-carousel" data-flickity='{ "prevNextButtons": true , "pageDots": false, "wrapAround": true, "arrowShape": {"x0": 10,"x1": 55, "y1": 45,"x2": 60, "y2": 40,"x3": 20} }'>

            {{ blog.handle }}

          {% assign num = 0 %}
            {% for num in (1..2) %} <!-- workaround loop for only 3 articles avalaible -->
            {% for article in blog.articles %}

              {% assign already_shown = false %}
              {% assign current_handle = article.url %}

              {% for handle in latest_article_handles %}
                {% if handle == current_handle %}
                  {% assign already_shown = true %}
                  {% break %}
                {% endif %}
              {% endfor %}

              {% unless already_shown %}
                <div class="grid__item md--one-half lg--one-half dt--one-quarter lg--pb3 dt--pb0 carousel-cell">
                  {% include 'article-standard' %}
                </div>
                {% assign count = count | plus: 1 %}
                {% comment %}
                Break once we find no of  articles selected
                {% endcomment %}
                {% assign no_posts = block.settings.no_posts | plus: 0 %}
                {% if count == no_posts %}
                  {% break %}
                {% endif %}
              {% endunless %}

            {% endfor %}
          {% endfor %}

          </div>

        {% else %}
          {% for i in (1..4) %}
            <div class="grid__item lg--one-half dt--one-quarter">
              {% include 'article-standard_onboarding' %}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </section>

  {% when 'articles_by_tag' %}

    <section class="section bg--section m0 py4" {{ block.shopify_attributes }}>
      <div class="wrapper section--wrapper">

        {% if block.settings.title != '' %}
          <h2 class="t--section-title text-align--center f--main font-size--l lg--font-size--xl m0 mb3">{{ block.settings.title | escape }}</h2>
        {% else %}
          <h2 class="t--section-title text-align--center f--main font-size--l lg--font-size--xl m0 mb3">{{ 'general.meta.tags' | t: tags: block.settings.tag  }}</h2>
        {% endif %}

        <div class="grid grid-uniform">
          {% if block.settings.tag != '' %}
            {% assign count = 0 %}
            {% assign selected_tag = block.settings.tag %}

            {% assign articles_array = false %}

            {% for article in all_articles_sorted %}

              {% assign already_shown = false %}
              {% assign current_handle = article.url %}

              {% for handle in latest_article_handles %}
                {% if handle == current_handle %}
                  {% assign already_shown = true %}
                  {% break %}
                {% endif %}
              {% endfor %}

              {% unless already_shown %}
                {% for tag in article.tags %}
                  {% if tag == selected_tag %}
                      <div class="grid__item lg--one-half dt--one-quarter">
                        {% include 'article-standard' %}
                      </div>
                      {% assign count = count | plus: 1 %}
                    {% break %}
                  {% endif %}
                {% endfor %}
              {% endunless %}


              {% comment %}
              Break once we find no of  articles selected
              {% endcomment %}
              {% assign no_posts = block.settings.no_posts | plus: 0 %}
              {% if count == no_posts %}
                {% break %}
              {% endif %}

            {% endfor %}
          {% else %}
            {% for i in (1..4) %}
              <div class="grid__item lg--one-half dt--one-quarter">
                {% include 'article-standard_onboarding' %}
              </div>
            {% endfor %}
          {% endif %}
        </div>

      </div>
    </section>

  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "Blog",
  "class": "section-blog",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Tous nos blogs"
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "category": "Blog",
      "blocks": [
        {
          "type": "articles_by_blog"
        },
        {
          "type": "articles_by_tag"
        }
      ]
    }
  ],
  "blocks" :  [
      {
        "type": "articles_by_blog",
        "name": "Articles by blog",
        "settings": [
          {
            "type":      "paragraph",
            "content":   "If latest articles is enabled, blog posts shown in latest articles won't be shown again inside this block."
          },
          {
             "type":      "text",
             "id":        "title",
             "label":     "Heading",
             "info":     "If left blank, name of blog will be used."
          },
          {
            "type":      "blog",
            "id":        "selected_blog",
            "label":     "Select blog:"
          },
          {
             "type":      "range",
             "id":        "no_posts",
             "min":       4,
             "max":        12,
             "step":       4,
             "label":     "No of posts to show",
             "default":   4
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "All articles will go to a specific page" 
          },
           {
             "type": "checkbox",
             "id": "show_blog_link",
             "label": "Show link to Blog"
           }
        ]
      },
      {
        "type": "articles_by_tag",
        "name": "Articles by tag",
        "settings": [
          {
            "type":      "paragraph",
            "content":   "If latest articles is enabled, blog posts shown in latest articles won't be shown again inside this block."
          },
          {
             "type":      "text",
             "id":        "title",
             "label":     "Heading",
             "info":     "If left blank, name of blog will be used."
          },
          {
             "type":      "text",
             "id":        "tag",
             "label":     "Tag:",
             "info":     "Posts will match this tag."
          },
          {
             "type":      "range",
             "id":        "no_posts",
             "min":       4,
             "max":        12,
             "step":       4,
             "label":     "No of posts to show",
             "default":   4
          }
        ]
      }
    ]
  }
  {% endschema %}
