<section id="section-{{ section.id }}" class="section section--newsletter m0 ">
  <div class="color--secondary-accent-overlay py3 bg--newsletter">
    <div class="wrapper section--wrapper text-align--center px2">
      <div class="py3">
        <h3 class="f--title font-size--xxl newsletter__title">{{ section.settings.title | escape }}</h3>
        <div class="f--main font-size--s lg--font-size--m newsletter-text">{{ section.settings.text }}</div>

        <div class="newsletter__form mx--auto mt3">
        {% form 'customer' %}
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
            <p class="form--success f--main">{{ 'general.newsletter_form.confirmation' | t }}</p>
          {% else %}
            <div class="input-group">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email"
                name="contact[email]"
                id="Email"
                class="input-group-field input-underline input-underline--secondary-overlay f--main color--secondary-accent-overlay"
                value="{% if customer %}{{ customer.email }}{% endif %}"
                placeholder=""
                autocorrect="off"
                autocapitalize="off">
              <span class="input-group-btn newsletter-sub">
                <button type="submit" class="btn btn-newsletter newsletter__submit bg--secondary-accent-overlay" name="commit" id="Subscribe">
                  <span class="newsletter__submit-text--medium">{{ section.settings.button-text }}</span>
                </button>
              </span>
            </div>
          {% endif %}
        {% endform %}
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  #section-{{ section.id }} .bg--newsletter{
     background-color: {{ section.settings.bg-color}}
   }
</style>

{% schema %}
{
  "name": "Newsletter",
  "class": "full_bleed",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Sign up to our newsletter"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Subheading",
      "default": "<p>Receive special offers and first look at new products.</p>"
    },
    {
      "type": "text",
      "id": "button-text",
      "label": "Button text",
      "default": "je m'inscris"
    },
    {
      "type": "color",
      "id": "bg-color",
      "label": "Background color",
      "default": "#fcdf6b"
    },
    {
       "type":      "paragraph",
       "content":   "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)."
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "category": "Promotional"
    }
  ]
}
{% endschema %}
