{% include 'global-variables' %}

{% capture sectionID %}section-{{ product.handle }}{% endcapture %}

{% comment %}
Check for any supporting pages
{% endcomment %}
{% assign supporting_links = false %}
{% for block in section.blocks %}
  {% case block.type %}
  {% when 'supporting_links' %}
    {% assign supporting_links = true %}
  {% endcase %}
{% endfor %}

{% assign show_quantity = section.settings.show_quantity %}

{% if section.settings.product_media_size == 'large' %}
  {% assign product_media_class = 'lg--one-half dt--two-thirds' %}
  {% assign product_form_class = 'lg--one-half dt--one-third' %}
  {% assign product_desc_class = 'lg--one-half dt--two-thirds' %}
{% else %}
  {% assign product_media_class = 'lg--one-half dt--one-half' %}
  {% assign product_form_class = 'lg--one-half dt--one-half' %}
  {% assign product_desc_class = 'lg--one-half dt--one-half' %}
{% endif %}

{% assign thumbnail_cropping = section.settings.thumbnail_cropping %}
{% assign zoom_enabled = section.settings.enable_image_zoom %}

{% comment %}
  Check for product media
{% endcomment %}

{% assign has_video = false %}
{% assign has_external_video = false %}
{% assign has_model = false %}

{% for media in product.media %}
  {% case media.media_type %}
  {% when 'video' %}
    {% assign has_video = true %}
  {% when 'external_video' %}
    {% assign has_external_video = true %}
  {% when 'model' %}
    {% assign has_model = true %}
  {% endcase %}
{% endfor %}

<section itemscope
         itemtype="http://schema.org/Product"
         class="section bg--section section-product section--product-page relative pb4"
         id="{{ sectionID }}"
         data-section-id="{{ sectionID }}"
         data-money-format="{{ shop.money_format }}"
         data-section-type="product"
         data-has-video="{{ has_video }}"
         data-has-external-video="{{ has_external_video }}"
         data-has-model="{{ has_model }}"
         data-enable-product-zoom="{{ section.settings.enable_image_zoom }}"
         {% if product.selected_variant %}
         data-selected-variant="true"
         data-selected-variant-id="{{ product.selected_variant.id }}"
         data-selected-variant-media-id="{{ product.selected_variant.featured_media.id }}"
         {% else %}
         data-selected-variant="false"
         {% endif %}
         data-enable-history-state="true">
  <div class="container-medium">


    <meta itemprop="name" content="{{ product.title }}">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_media | img_url: '1200x' }}">
  
    {% comment %}
      Get first variant, or deep linked one
    {% endcomment %}
    {% assign current_variant = product.selected_or_first_available_variant %}
  

    <div class="grid">
      <div class="1/2--lap-and-up grid__cell homepage_block product-tamplate-media">
        <div class="product-tamplate-featured">
          {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
          <meta itemprop="image" content="{{ product.featured_media | img_url: '1200x' }}">
          <img src="{{ featured_media | img_url: 'master' }}" alt="{{ featured_media.alt }}" id="FeaturedMedia-{{ section.id }}" class="product-featured-media" style="max-width: 720px;">
        </div>

        <div class="main-carousel carousel-flex product-template-carousel"
          data-flickity='{ "prevNextButtons": true , "pageDots": false, "wrapAround": true, "width":"100%"}'>
          {% for media in product.media %}

            <div class="carousel-cell">
              {% include 'media', media: media, featured_media: featured_media, zoom_enabled: zoom_enabled %}
            </div>

          {% endfor %}

        </div>
      </div>
      <div class="1/2--lap-and-up grid__cell homepage_block {{ product_form_class }} dt--pt4 product-page--form-sticky">

          {% include 'product-page-form-new', show_vendor: true, show_payment_button: false, show_quantity:true %}

      </div>
    </div>
  </div>


  {% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ sectionID}}" data-product-json>
    {{ product | json }}
  </script>
  <script type="application/json" id="FirstVariantJson-{{ sectionID }}" data-first-variant-json>
    {{ product.selected_or_first_available_variant | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ sectionID}}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
  {% endunless %}


</section>
{% schema %}
{
  "name": "Product Pages",
  "settings": [
      {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing et dolore magna aliqua.</p>"
      }
  ],
  "presets": [
    {
      "name": "Product Pages",
      "category": "Product"
    }
  ]
}
{% endschema %}
