{% if section.settings.display %}
 {% if product.metafields.product.instructions != blank or product.metafields.product.ingredients != blank %}
  <section id="section-{{ section.id }}" class="product-metafields"  data-section-type="product-metafields" data-section-id="{{ section.id }}">
    <div class="product-metafields-bg">
      <div class="container-medium">
          <div class="grid">
             <div class="1/2--lap-and-up grid__cell">
               <div class="product-metafields_instructions">
                  {{ product.metafields.product.instructions }}
               </div>
             </div>
             <div class="1/2--lap-and-up grid__cell">
                {{ product.metafields.product.ingredients }}
             </div>
          </div>
      </div>
    </div>
  </section>
 {% endif %}
{% endif %}
<style>
  #section-{{ section.id }} .product-metafields-bg{
     background-color: {{ section.settings.color }};
   }
</style>
{% schema %}
{
  "name": "Metafields",
  "settings": [
      {
      "type": "paragraph",
       "content": "product.metafields.product.instructions and product.metafields.product.ingredients"
     },
     {
       "type": "checkbox",
       "id": "display",
       "label": "Display section ?",
       "default": true
     },
     {
       "type": "color",
       "id": "color",
       "label": "Background color",
       "default": "#ebdcdb"
     }

  ]
}
{% endschema %}
